<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>This is a URL shortener</h1>
        <br />
        <h2>Directions:</h2>
        <h3>Input:</h3>
        <ul>
            <li>
                <span style="background-color: #FFFBCC;">"https://scarce-missile.glitch.me/new/https://www.google.com"</span>

            </li>
            <li>
                <span style="background-color: #FFFBCC;">"https://scarce-missile.glitch.me/new/www.ludwigthepig.com"</span>
            </li>

        </ul>

        <h3>Output:</h3>
        <ul>
            <li>
                <span style="background-color: #FFFBCC;">"ttps://scarce-missile.glitch.me/1"</span>
            </li>
            <li>
                <span style="background-color: #FFFBCC;">"ttps://scarce-missile.glitch.me/4"</span>
            </li>


        </ul>
      </div>
      <div class="footer">
        <p>
          by <a href="http://www.ludwigthepig.com">Morgan Galvin</a>
        </p>
      </div>
   </body>


</html>